<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteirinha do Associado</title>
</head>
<body>
    <h1>Carteirinha do Associado</h1>
    <p>Nome: {{ associate.name }}</p>
    <p>CPF: {{ associate.cpf }}</p>
    <p>Modelo do Carro: {{ associate.car_model }}</p>
    <p>Versão: {{ associate.car_version }}</p>
    <p>Ano Modelo: {{ associate.car_year_model }}</p>
    <p>Email: {{ associate.email }}</p>
    <p>Telefone: {{ associate.phone }}</p>
    <img src="{{ qr_code_url }}" alt="QR Code">
</body>
</html>
