<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verificação do Associado</title>
</head>
<body>
    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <h1>Verificação do Associado</h1>
        <p>Nome: {{ associate.name }}</p>
        <p>CPF: {{ associate.cpf }}</p>
        <p>Modelo do Carro: {{ associate.car_model }}</p>
        <p>Versão: {{ associate.car_version }}</p>
        <p>Ano Modelo: {{ associate.car_year }}</p>
        <p>Email: {{ associate.email }}</p>
        <p>Telefone: {{ associate.phone }}</p>
    {% endif %}
</body>
</html>
